<div class="bg-dark text-white py-5">
  <h1> GEB</h1>
 </div>

 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  [routerLink]="['/contacto']">Contacto</a>
        </li>
        
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link "  [routerLink]="['/solicitud']">Solicitudes</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link "  [routerLink]="['/precandidato']">Precandidato</a>
        </li>

        
      </ul>
     
    </div>
  </nav>